@font-face {font-family: "Rubik-Regular"; src: url("./fonts/Rubik-Regular.ttf")}
@font-face {font-family: "Rubik-Light"; src: url("./fonts/Rubik-Light.ttf")}
@font-face {font-family: "Viga-Regular"; src: url("./fonts/Viga-Regular.ttf")}

body, html {
    margin: 0;
    padding: 0;
    height: 100vh;
}

body {
    background-image: url("./images/mintbean-dome.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#top_menu {
    display: flex;
    background-color: #221727;
    justify-content: space-between;
    padding: 1% 1%;
}

#top_menu span {
    padding-left: 10%;
}

#top_menu nav {
    margin: auto 0;
    color: #F1FFF6;
    padding-right: 10%;
    font-family: Rubik-Regular;
    font-weight: 100;
    font-size: 21px;
}

#join_button {
    background-color: #5EF4D6;
    color: #221727;
    border-radius: 10px;
    border: none;
    font-family: Rubik-Regular;
    text-transform: uppercase;
    margin-left: 10px;
    font-weight: 500;
    font-size: 1.5em;
    padding: 0.25em 1em;
}

#main_container {
    display: flex;
    flex-direction: column;
    border: #24e5a3 solid 3px;
    border-radius: 10px;
    width: 40vw;
    position: absolute;
    left: 150px;
    top: 200px;
    background-color: rgba(34,23,39, 0.8)
}

#text_container {
    margin: 12px 26px;
    justify-content: space-evenly;
}

#text_container button {
    background-color: #5EF4D6;
    color: #221727;
    font-size: 1.5em;
    padding: 0.5em 1.5em;
    margin: 1em 0;
    border-radius: 10px;
    box-sizing: border-box;
    border: none;
    font-family: Rubik-Regular;
    text-transform: uppercase;
    font-weight: 500;
}

#main_line {
    text-transform: uppercase;
    color: #F1FFF6;
    font-family: Viga-Regular;
    font-weight: 100;
    font-size: 30px;
}

#bulk_text {
    color: #F1FFF6;
    display: block;
    font-family: Rubik-Light;
    line-height: 1.5em;
    letter-spacing: 0.01em;
    font-size: 1.25em;
    padding: .65em 0;
}